  
body {
 
    margin: 0; 
    padding: 0;
    
    font-family: 'Roboto', "Arial", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    min-width: 1200px;
}
a {
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

input,
textarea {
    color: #323232;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    -webkit-box-shadow: inset 0px 0px 0px 1px #d3d3d2;
            box-shadow: inset 0px 0px 0px 1px #d3d3d2;
    border-radius: 5px;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 14px;
    padding: 10px 15px 10px 15px;
    border: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
input::placeholder,
textarea::placeholder {
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

input:hover,
textarea:hover {
    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(154, 154, 154, 0.52);
            box-shadow: inset 0px 0px 0px 2px rgba(154, 154, 154, 0.52);
}
input:focus,
input:active,
textarea:active,
textarea:focus{
    outline:none;
    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(46, 136, 228, 0.52);
            box-shadow: inset 0px 0px 0px 2px rgba(46, 136, 228, 0.52);
}
  
button:active {
    outline:none;
}

.button {
    font: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    background-color: #f26843;
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
            box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    border-radius: 30px;      
    padding: 7px 20px;
    cursor: pointer;
    display: inline-block;
    
}
.button:hover,
.button:focus {
    -webkit-box-shadow: 0 2px 2px #ac1000;
            box-shadow: 0 2px 2px #ac1000;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f58569), to(#ec6e5d));
    background-image: linear-gradient(to top, #f58569, #ec6e5d);
    outline:none;
      
}

.button:active {
    -webkit-box-shadow: inset 0 2px 2px #942718;
            box-shadow: inset 0 2px 2px #942718;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74a35));
    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    outline: none;
}
.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color:#323232;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    width: 1200px;
    padding: 0px 27px;
    margin: 0 auto;
   
}

/*Для слайдера*/
.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/bg-ic_chok-lem-2.png");
}

.site-wrapper::after {
  background-image: url("../img/bg-ic_plom-strawb-3.png");
}
.site-wrapper { 
    min-width: 940px;  
    background-color: #849d8f;
    background-image: url(../img/bg-ic_van-raspberry-1.png);
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

/*Главное меню*/
.main-header-logo {
    width: 154px;
    height: 64px;
    margin-top: 10px;
    margin-right: 10px;
    -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
}
.main-navigation-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    
}
.site-navigation {      
    width: 380px;  
    margin-right: auto; 
          
}
.site-navigation-item{
    padding-bottom: 12px;
}

.site-navigation,
.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;

    margin-top: 24px;

    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    list-style: none;
}

.site-navigation-item>a {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 700;
    padding: 7px 14px;
    display: block;
}

.bordered {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.site-navigation-item .active {
    background-color: #d07058;
    border-radius: 16px;
    padding: 7px 14px;
    border-bottom: none;
} 

.site-navigation-item>a:hover,
.site-navigation-item>a:focus {
    background-color: #f7f6f3;
    color: #333333;
    padding: 7px 14px;
    border-radius: 16px;
}

.site-navigation-item>a:active {
    -webkit-box-shadow: inset 0 2px 1px #696969;
            box-shadow: inset 0 2px 1px #696969;
    background-color: #ededed;
}

/*Подменю*/
.site-navigation>li:hover .subnavigation-list {
    display: block;
}
.modal {
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    border-radius: 5px;
}

.subnavigation-list {
    width: 143px;
    position: absolute;
    
    left: -7px;
    top:33px;
    display: none;
    z-index: 1;
    margin-top: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    border-radius: 5px;

}
.subnavigation-list li {
    list-style: none; 
}

.subnavigation-list a {
    display: block;
    padding: 7px 20px;
   color: #323232;
   font-size: 14px;
   font-weight: 400;
   line-height: 16px;
   text-decoration: none;
}

.subnavigation-list p {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    padding: 7px 20px;
    border-bottom: 1px solid #d1d0ce;
}
.subnavigation-active {
    background-color: #d07058;
}
.subnavigation-active a{
    color: #ffffff;
}

.subnavigation-list a:hover,
.subnavigation-list a:focus {
   background-color: #fbded7;
   color: #323232;
}
.subnavigation-list a:active {
   background-color: #f6b5a5;
   color: #323232;
}
.subnavigation-list li:first-child {
    margin-top: 5px;
}
.subnavigation-list li:last-child {
    margin-bottom: 5px;
}

/*Пользовательская навигация*/
.user-navigation {
    width: 262px; 
}

/*Поиск*/
.user-search {
    position: relative;
    padding-bottom: 15px;
}

.user-search a {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    width: 33px;
    height: 33px;
    display: block;
}

.search-button svg {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 7px;
    top: 7px;
 }

.search-button:hover,
.search-button:focus {
    background-color: #f7f6f3;
}

.search-button:hover path,
.search-button:focus path {
    fill: #000000;
}
/*всплывающее меню поиска*/
.modal-search {
    position: absolute;
    width: 341px;
    top: 35px;
    right: 1px;
    padding: 20px 15px;
    display: none;
    z-index: 2;
}
.search-form input {
    padding: 11px 15px 10px 15px;
    width: 311px;
}
.user-search:hover .modal-search {
    display: block;
}

/*Вход*/
.user-login {
    padding-bottom: 15px;
}

.user-login>a {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 16px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 17px 10px 44px;
    display: block;  
}

.login-link svg {
    position: absolute;
    width: 21px;
    height: 19px;
    left: 58px;
}

.user-login .login-link:hover,
.user-login .login-link:focus {
    border-radius: 16px;
    background-color: #f7f6f3;
    color: #333333;
    padding: 8px 17px 10px 44px;
}
.login-link:hover path,
.login-link:focus path {
    fill: #000;
}
/*Всплывающее меню авторизации*/

.modal-login {
    position: absolute;
    width: 278px;
    min-height: 214px;
    top: 37px;
    left: -142px;

    padding: 20px 19px 20px 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
    z-index: 3;
}

.login-form input {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    min-width: 241px;
    margin-bottom: 20px;
}
.login-list a {
    list-style: none;
    text-decoration:underline;
    color: #323232;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
.login-list a:hover {
    color: #e84d37;
}
.enter-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.enter-wrapper .enter-btn {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 10px 26px 11px 26px;
}
.user-login:hover .modal-login {
    display: block;
}


/* Корзина*/
.user-basket {
    padding-bottom: 15px;
}

.user-basket>a {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 16px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 10px 10px 45px;
    min-width: 117px;
    display: block;
}
.basket::before {
    content:"";
    position: absolute;
    width: 21px;
    height: 20px;
    left: 160px;
    background-image: url(../img/svg/basket-white.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.user-basket .basket:hover,
.user-basket .basket:focus,
.user-basket .user-basket-full:hover,
.user-basket .user-basket-full:focus  {
    padding: 8px 10px 10px 45px;
    border-radius: 16px;
    background-color: #f7f6f3;
    color: #333333;
    min-width: 117px;
        
}
.basket:hover::before,
.basket:focus::before {
    background-image: url(../img/svg/basket-black.svg);
}
.user-navigation .user-basket-full {
    color: #323232;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background-color: #f8f7f4;
    opacity: 0.99;
}
.user-basket-full::before {
    content:"";
    position: absolute;
    width: 21px;
    height: 20px;
    left: 163px;
    background-image: url(../img/svg/basket-red.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
/*корзина модальное окно*/

.basket-full-modal {
    position: absolute;
    top: 38px;
    left: -278px;
    width: 540px;
    min-height: 244px;
    padding: 25px 14px;
    display: none;
      
    z-index: 16;
}
.basket-full-modal-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.product-list {
    width: 510px;
    margin: 0;    
} 

.product-list li{
    list-style: none;
    color: #323232;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.product-list .price {
    color: #999999
}

.product a {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #323232;
}

.product-item {
    position: relative;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 30px;
    color: #323232;    
}

.product-item td {
    position: relative;
    min-height: 50px;
}

.in-total {
    color: #323232;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-align: right;
}

.product {
    width: 230px;
    margin-left: 65px;
    display: inline-block;
    vertical-align: top;
}

.weight {
    width:61px;
    text-align: right;
    vertical-align: top;
}
.price-basket {
    width: 83px;
    text-align: left;
    color: #999999;
    vertical-align: top;
}
.sum {
    width: 70px;
    text-align: left;
    vertical-align: top;
    
}
.in-total td {
    border-top: 1px solid #cacac7;
    width: 510px;
    text-align: right;
    padding-top:10px;
}

.del-product {
    position: absolute;
    background: url(../img/svg/cross-small.svg) no-repeat 0 0;
    width: 12px;
    height: 12px;
    font-size: 0px;
    top: 0px;
    left: 0px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.nom-1::before {
    content: "";
    background: url(../img/basket-ic1.png) no-repeat 0 0;
    width: 33px;
    height: 33px;
    position: absolute;
    top: -8px;
    left: -40px;
}
.nom-2::before {
    content: "";
    background: url(../img/basket-ic2.png) no-repeat 0 0;
    width: 33px;
    height: 33px;
    position: absolute;
    top: -8px;
    left: -40px;
}
.button-basket {
    min-width: 170px;
    padding: 10px 14px;
    margin-top: 15px;
    -ms-flex-item-align: end;
        align-self: flex-end;
}
.button-basket:hover {
    min-width: 170px;
    padding: 10px 14px;
    margin-top: 15px;
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.user-basket:hover .basket-full-modal {
    display: block;
}
/*Телефон*/
.phone-navigation {
    margin-left: auto;
}
.phone-navigation p {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 700;
    text-align: right;
    margin-top: 2px;
}

.phone-number {
    font-size: 22px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}
.phone-number:hover,
.phone-number:active {
    color: #ffbc9e;
}

/*Слайдер*/

.container .slider-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.slider-item h2 {
    max-width: 670px;
   
}
.slider {
    position: relative;
    padding-top: 273px;
    text-align: center;
    margin: 0 auto;
    
}
.slider-list {
    list-style: none;
}
.slider-header {
    font-size: 60px;
    line-height: 60.5px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.slider-item .button {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    border-radius: 50px;
    padding: 10px 42px;   
}

.slider-controls {
    position: absolute;
    top: 445px;
    font-size: 0;
}
.slider-controls label {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 8px;    
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label:hover {
    background-color: rgba(248, 247, 244, 0.4)
     
}
.slider-item.slide {
    display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/bg-ic_van-raspberry-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/bg-ic_chok-lem-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/bg-ic_plom-strawb-3.png");
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*Банер*/

.baner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    align-items: stretch;
    margin-top: 44px;
    margin-bottom: 40px;
}
.baner h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin-bottom: 20px;
}
.baner p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
           
}

.baner-raspberry {
    background-color: #af1938;
    border-radius: 15px;
    background-image: url("../img/bg-raspberry.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 560px;
    min-height: 229px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    align-items: stretch;
    padding: 23px 20px 18px 18px;
}

.baner-chokolate {
    background-color: #603b23;
    border-radius: 15px;
    background-image: url("../img/bg-chocolate.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 560px;
    min-height: 229px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;

    align-items: stretch;
    padding: 23px 20px 18px 18px;
}
.baner .button {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 45px;
    
    padding: 12px 22px;
    
}

/*Хиты/Карточки каталога*/

.hit-list, 
.catalog-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: flex-start;

}
.hit-list img,
.catalog-list img {
    width: 267px;
    height: 267px;
    z-index: 6;
}
.hit-item,
.catalog-item {
     width: 267px;
     min-height: 362px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     position: relative;
     margin-right: 26px;
}
.hit-item:nth-child(4n),
.catalog-item:nth-child(4n) {
    margin-right: 0px;
}

.hit-item::before {
    content:"";
    position: absolute;
    top:0px;
    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(../img/svg/hit.svg);
    background-position: 0 0;
    z-index: 7;
    
}
.hit-item::after,
.catalog-item::after {
    position: absolute;
    content: '';
    left: -13px;
    top: -8px;
    width: 293px;
    min-height: 405px;
    border-radius: 5px;
}

.hit-item .price, 
.catalog-item .price {
    position: absolute;
    top: 207px;    
    z-index: 8;
}

.hit-item .price-value,
.catalog-item .price-value {
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    margin-right: 30px;
}

.hit-item .price-weight,
.catalog-item .price-weight {
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    position: relative;
   
}
.price-weight::before {
    content:"";
    position: absolute;
    width: 27px;
    height: 33px;
    background: url(../img/svg/ruble.svg) no-repeat 0 0;
    left: -30px;
    top: 0px;

}
.hit-item a,
.catalog-item a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    z-index: 9;

}
.hit-item h3,
.catalog-item h3{
    text-align: center;
    margin-top: 10px;
    z-index: 10;
}
.hit-item .hit-link:hover,
.hit-item .hit-link:focus,
.hit-item .hit-link:active,
.catalog-item .catalog-link:hover,
.catalog-item .catalog-link:focus,
.catalog-item .catalog-link:active {
    color: #ffbc9e;
    border-bottom: 1px solid  #ffbc9e;
}

.hit-item:hover::after,
.catalog-item:hover::after,
.hit-item:focus::after,
.catalog-item:focus::after {
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 5px;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    z-index: 5;
}

.hidden-btn {
    opacity: 0;
}
.hit-item:hover .hidden-btn,
.catalog-item:hover .hidden-btn {
    opacity: 1;
    position: absolute;
    top: 330px;
    padding: 10px 14px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.catalog-item:hover,
.catalog-item:focus { 
    z-index: 10;
}

/*Преимущества*/

.features {
    position: relative;
    background-image: url(../img/bg-waffle.jpg);
    background-color: #ece1c6;
    border-radius: 15px;
    background-position: 0 0;
    background-repeat: repeat;
    min-height: 306px;
    padding:  28px 0 0 20px;
    margin-bottom: 40px;
}
.features h2 {
    color: #323232;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    margin-bottom: 17px;
}
.features-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.features-item {
    position: relative;
    width: 483px;
    margin-bottom: 20px;
    margin-left: 55px;
    margin-right: 28px;
}
.features-list li {
   
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    
}
.features-item:nth-child(2n){
    margin-right: 0px;
}
.ice-cream::before {
    content: "";
    background: url(../img/svg/ice-cream.svg) no-repeat 0 0;
    width: 49px;
    height: 49px;
    position: absolute;
    top: -13px;
    left: -57px;
}
.eco::before {
    content: "";
    background: url(../img/svg/eco.svg) no-repeat 0 0;
    width: 49px;
    height: 49px;
    position: absolute;
    top: -13px;
    left: -57px;
}
.cow::before {
    content: "";
    background: url(../img/svg/cow.svg) no-repeat 0 0;
    width: 49px;
    height: 49px;
    position: absolute;
    top: -13px;
    left: -57px;
}
.thermometer::before {
    content: "";
    background: url(../img/svg/thermometer.svg) no-repeat 0 0;
    width: 49px;
    height: 49px;
    position: absolute;
    top: -13px;
    left: -57px;
}

/*Блог*/
.blog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
}
.blog {
    background-image: url(../img/bg-strawberry.jpg);
    background-color: #ffffff;
    border-radius: 15px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 560px;
    min-height: 220px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 25px 20px 25px 20px;
}

.blog p {
    color: #323232;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    margin-bottom: 5px;
   
}
.blog h2 {
    width: 285px;
}
.blog a{
    color: #323232;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-decoration: underline;
    
}
.blog a:hover,
.blog a:focus,
.blog a:active {
    color: #e84d37;
}

/*Подписка*/
.subscription {
       background-image: url(../img/svg/bg-post.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    width: 560px;
    padding: 6px;
    min-height: 220px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.subscription-wraper {
    background-color: #f8f7f4;
    border-radius: 15px;
    min-height: 208px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 28px 18px 28px 21px;
}

.subscription-wraper p {
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
        
    
}

.subscription-wraper input {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: inline-block;
    width: 368px;
    height: 44px; 
    margin-right: 11px;
    margin-top: 37px;
      
}

.subscription-wraper .button {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    display: inline-block;
    padding: 10px 17px 11px 17px;
}

/*Контакты*/
.contacts-wraper {
    position: relative;
    width: 1200px;
}
.contacts {
    position: relative;
    width: 303px;
    min-height: 303px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px 23px;
    z-index: 13;
    margin-right: 52px;
    margin-left: auto;
    margin-top: 103px;
    margin-bottom: 70px;
}
.contacts-adress {
    margin-bottom: 20px;
}
.contacts .secondary {
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 2px;
}
.contacts .main {
    color: #323232;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.contacts-phone {
    margin-bottom: 27px;
}
.contacts .feedback-btn {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 11px 28px;
}
.map {
    background: url(../img/map.png) no-repeat 0 0;
    position: absolute;

    top: -65px;
    left: -26px;
    z-index: 11;
    width: 1200px;
    height: 432px;
}

.feedback-btn:active .modal-feedback{
    display: block;
}

/*Всплывающее окно обратной связи*/

.modal-feedback {
    position: fixed;
    width: 478px;
    min-height: 443px;
    padding: 20px 23px;
    top: 50%;
    left: 50%;
    margin-left: -239px;
    margin-top: -222px;
    display: none;
    z-index: 15;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
}
.modal-close {
    
    position: absolute;
    background: url(../img/svg/cross-big.svg) no-repeat 0 0;
    width: 18px;
    height: 17px;
    top: 15px;
    right: -15px;
    font-size: 0;
  
    background-color: transparent;
    border: 0;
   
    cursor: pointer;
  }

.feedback-header {
    position: relative;
    margin-bottom: 24px;
    color: #323232;
}
.feedback-form input {
    margin-bottom: 20px;
    display: inline-block;
    min-width: 267px;
}
.feedback-form textarea {
    width: 428px;
    min-height: 155px;
    margin-bottom: 17px;
    display: inline-block;
}
.modal-feedback .modal-feedback-btn {
    text-align: right;
    
}
.modal-feedback button {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 10px 24px 11px;
}

@-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
  
    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  
    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }

@keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
  
    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  
    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @-webkit-keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
  }
  
  @keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
  }

  
  /*Затемнение при всплывании модального окна*/
  .modal-feedback-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
  
    z-index: 50;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .modal-show-wrapper {
    display: block;
  }
  
  .modal-show {
    display: block;
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
  }
  
  .modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
  }


/*footer*/

.main-footer .container,
.catalog-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 104px;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 187px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 208px;
}
.main-footer ul,
.catalog-footer ul {
    list-style: none;
}

.catalog-footer .container {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding-top: 20px;
}

/*Соц. сети*/
.social-list li{
    position: relative;
}
.ok::before {
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23FFF' d='M16 0C7.164 0 0 7.164 0 16c0 8.837 7.164 16 16 16 8.837 0 16-7.163 16-16 0-8.836-7.163-16-16-16zm7.944 12.809c-.251 6.516-3.463 10.832-10.992 10.702h-.486c-.447 0-4.543-.443-5.344-1.823 2.479.19 4.247-.406 5.12-1.136-1.048-.289-2.923-.461-3.251-2.848.384.104.618.221 1.299.113-1.307-.824-2.758-1.519-2.679-3.643.311.317 1.164.518 1.46.457-.768-.233-2.149-3.244-.974-4.781 1.984 1.79 4.075 3.482 7.804 3.643.227-2.214 1.24-3.699 3.168-4.325 1.84-.479 3.255.26 3.901 1.138.737-.224 1.453-.466 2.193-.685-.004.833-.569 1.463-.935 1.709.747.165 1.423-.475 1.423-.475-.184.963-1.094 1.725-1.707 1.954z'/%3E%3C/svg%3E") no-repeat 0 0px ;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 0px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.instagram::before {
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='%23FFF'%3E%3Cpath d='M20.916 16a4.938 4.938 0 1 1-9.877 0c0-.394.051-.773.138-1.14h-.897v6.838h11.396V14.86h-.897c.086.367.137.746.137 1.14z'/%3E%3Cpath d='M15.978 18.659c1.466 0 2.659-1.193 2.659-2.659s-1.193-2.659-2.659-2.659c-1.466 0-2.659 1.193-2.659 2.659s1.192 2.659 2.659 2.659zM18.637 10.302h3.039v3.039h-3.039z'/%3E%3Cpath d='M16 0C7.164 0 0 7.164 0 16c0 8.837 7.164 16 16 16 8.837 0 16-7.163 16-16 0-8.836-7.163-16-16-16zm7.955 21.698a2.285 2.285 0 0 1-2.279 2.279H10.279A2.285 2.285 0 0 1 8 21.698V10.302a2.286 2.286 0 0 1 2.279-2.279h11.396a2.286 2.286 0 0 1 2.279 2.279v11.396z'/%3E%3C/g%3E%3C/svg%3E") no-repeat 0 0px ;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 50px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.facebook::before {
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23FFF' d='M16 0C7.164 0 0 7.163 0 16s7.164 16 16 16c8.837 0 16-7.164 16-16S24.837 0 16 0zm4.062 9.455h-3.021v3.444h3.021v3.445h-3.021v8.61H14.02v-8.61H11v-3.445h3.021V9.455c0-1.902 1.353-3.445 3.021-3.445h3.021v3.445z'/%3E%3C/svg%3E") no-repeat 0 0px ;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 100px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.vk::before {
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='%23FFF'%3E%3Cpath d='M16.637 14.495c.402-.019.719-.082.951-.188.326-.145.54-.33.641-.559.101-.229.15-.496.15-.797 0-.232-.058-.465-.174-.697-.116-.232-.322-.405-.617-.517-.264-.1-.592-.155-.984-.165a76.242 76.242 0 0 0-1.652-.014h-.339v2.965h.565c.571 0 1.057-.009 1.459-.028zM18.118 17.084c-.282-.081-.672-.125-1.166-.132a127.97 127.97 0 0 0-1.55-.009h-.79v3.493h.264c1.014 0 1.74-.003 2.18-.009a3.2 3.2 0 0 0 1.212-.245c.377-.157.633-.364.774-.625s.214-.562.214-.9c0-.446-.088-.788-.261-1.03-.17-.241-.464-.423-.877-.543z'/%3E%3Cpath d='M16 0C7.164 0 0 7.164 0 16c0 8.837 7.164 16 16 16 8.837 0 16-7.163 16-16 0-8.836-7.163-16-16-16zm6.602 20.531a3.73 3.73 0 0 1-1.124 1.327c-.552.415-1.161.71-1.823.886s-1.501.264-2.519.264h-6.121V8.987h5.443c1.13 0 1.957.038 2.48.113a5.126 5.126 0 0 1 1.561.5c.533.27.929.632 1.189 1.087.26.455.392.975.392 1.558 0 .678-.179 1.278-.536 1.795-.358.518-.863.92-1.517 1.208v.075c.917.182 1.642.559 2.179 1.13.537.571.807 1.325.807 2.261 0 .678-.138 1.283-.411 1.817z'/%3E%3C/g%3E%3C/svg%3E") no-repeat 0 0px ;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 150px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.ok:hover::before,
.ok:focus::before {
    opacity: 1;
}
.ok:active::before {
    opacity: 1;
    border: 3px solid rgba(255, 255, 255, 0.7);
}
.instagram:hover::before,
.instagram:focus::before {
    opacity: 1;
}
.instagram:active::before {
    opacity: 1;
    border: 3px solid rgba(255, 255, 255, 0.7);
}
.facebook:hover::before,
.facebook:focus::before {
    opacity: 1;
}
.facebook:active::before {
    opacity: 1;
    border: 3px solid rgba(255, 255, 255, 0.7);
}

.vk:hover::before,
.vk:focus::before {
    opacity: 1;
}
.vk:active::before {
    opacity: 1;
    border: 3px solid rgba(255, 255, 255, 0.7);
}
/*Документы*/
.documents {
    margin-top: 15px;       
    width: 350px;   
}

.documents-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
}

.documents-list li{
    padding-left: 0px;
    min-width: 170px;
    position: relative;
    
}
.documents-list li:nth-child(2n+1){
    padding-left: 25px;
}
.heart::before {
    content: "";
    background: url(../img/svg/heart.svg) no-repeat 0 0;
    width: 15px;
    height: 13px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.heart:hover::before {
    background-image: url(../img/svg/heart-hover.svg);
}
.documents-list a {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.documents-list a:hover,
.documents-list a:focus,
.documents-list a:active {
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
}

.footer-copyright {
    margin-left: auto;
}
.footer-copyright p {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.copyright a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.copyright a:hover,
.copyright a:focus,
.copyright a:active {
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
}

/*-------Стили каталога---------*/
.site-wrapper-catalog { 
    min-width: 940px;  
    background-color: #849d8f;
}


/* Меню хлебные крошки*/
.breadcrumbs-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    
}
.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 220px;
}

.breadcrumbs li {
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.breadcrumbs a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.breadcrumbs .breadcrumbs-item::after{
    content: '»';
    padding: 7px;
    border: none;
}
.breadcrumbs-current:after {
    display: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
}

.page-titel{
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    text-align: left;
    margin-bottom: 30px;
}

/*Фильтры*/
.filters-wrapper {
    margin-bottom: 40px;
}

.first-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 857px;
    margin-bottom: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.second-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 860px;
    margin-bottom: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
   
}

.filters fieldset{
    border: none;
    padding: 0px;
}

.filters legend {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-left: 15px;
    margin-bottom: 5px;
}
.price-sorting,
.fat-value, 
.filters-toppings {    
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;    
}

/*input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/
/*Стили всех фокусов для форм*/
.sorting select:focus,
.filter-button:focus {
    outline-color:  #ffffff;
    border: none;
    border-radius: 25px;
}

/*Стилизация сортировки*/
.sorting {
    width: 194px;
    position: relative;
}
.background-sorting {
    background-color:rgba(255, 255, 255, 0.2);;
    border-radius: 25px;
    padding: 7px 12px;
    border: none;
}
.sorting select {
    background-color:transparent;
    border: none;
    color: #ffffff;
}

.select-arrow {
    position: absolute;
    width: 11px;
    height: 10px;
    top: 35px;
    left: 164px;
    z-index: 2;
}
.sorting select:hover .select-arrow path {
    fill:#323232;
}

.filters-sorting:hover {
    color: #323232;
    border: none;
}
.filters-sorting:hover + .select-arrow path {
    fill: #323232;
}
.filters-sorting option {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding-top: 5px;
}


/*Range/Цена*/
.price-sorting {
    width: 220px;
}
.sorting-background {
    position: relative;
    background-color:rgba(255, 255, 255, 0.2);;
    border-radius: 25px;
    width: 220px;
    min-height: 37px;
}
.range-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.range-controls {
    position: absolute;
    bottom: 17px;
    left: 17px;
}
.range-controls .scale {
    width: 175px;
    height: 4px;
    background: rgba(255, 255, 255, 0.3);
    margin-left: 5px;
  }
  
  .range-controls .bar {
    width: 103px;
    height: 4px;
    background: #fff;
    margin-left: 25px;
  }
  
.range-controls .toggle-range {
    position: absolute;
    top: -8px;
    width: 20px;
    height: 23px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='23' viewBox='0 0 20 23'%3E%3Cpath opacity='.3' fill='%23ABABAB' d='M10 20C4.477 20 0 15.522 0 10v2c0 5.522 4.477 10 10 10 5.522 0 10-4.478 10-10v-2c0 5.522-4.478 10-10 10z'/%3E%3Ccircle fill='%23FFF' cx='10' cy='10' r='10'/%3E%3Ccircle fill='%23ABABAB' cx='10' cy='10' r='2'/%3E%3C/svg%3E") no-repeat 0 0;
    cursor: pointer;
}
.range-controls .toggle-range:hover {
    width: 22px;
    height: 25px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='25' viewBox='0 0 20 23'%3E%3Cpath opacity='.3' fill='%23ABABAB' d='M10 20C4.477 20 0 15.522 0 10v2c0 5.522 4.477 10 10 10 5.522 0 10-4.478 10-10v-2c0 5.522-4.478 10-10 10z'/%3E%3Ccircle fill='%23FFF' cx='10' cy='10' r='10'/%3E%3Ccircle fill='%23ABABAB' cx='10' cy='10' r='2'/%3E%3C/svg%3E") no-repeat 0px 0px;
}
  
  .range-controls .toggle-min {
    left: 25px;
  }
  
  .range-controls .toggle-max {
    left: 123px;
  }
  
/*Radio/Жирность*/
.fat-list,
.toppings-list {
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    padding: 10px 12px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.fat-list li {
    position: relative;
    list-style: none;
    margin-left: 30px;
}
.fat-value {
    width: 415px;
}
.fat-item label {
    padding-left: 7px;
    padding-right: 20px;
}
.radio-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.radio-box {
    position: absolute;
    width: 22px;
    height: 22px;
    top: -3px;
    left: -25px;
    overflow: hidden;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    cursor: pointer;
}
.radio-box:hover {
    border: 3px solid rgba(255, 255, 255, 1);
}

.radio-input:checked + .radio-box {
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 25 25'%3E%3Cpath fill='%23FFFFFF' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%23FFFFFF' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: -3px -3px;
    width: 22px;
    height: 22px;
    opacity: 0.8;
}
.radio-input:checked:hover + .radio-box {
    opacity: 1;
}
.radio-input:focus + .radio-box {
    -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.radio-input:disabled + .radio-box {
    border: 3px solid rgba(255, 255, 255, 0.4);
}

/*Checkbox/Наполнители*/
.toppings {
    width: 703px;
}
.check-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.toppings-list label {
    position: relative;
    list-style: none;
    padding-left: 40px;
    padding-right: 18px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    
}
.toppings-list li {
    list-style: none;
}
.check-input + .check-box {
    position: absolute;
    margin-left: -30px;
    width: 19px;
    height: 19px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    
}

.check-input:hover + .check-box {
    border-color: rgba(255, 255, 255, 1);
    outline: none;
}
.check-input:focus + .check-box {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 1px;
}
.check-input:checked + .check-box {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 23 27'%3E%3Cpath fill='%23FFFFFF' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23FFFFFF' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: -4px 0px;
    border: none;
    width: 27px;
    height: 23px;
    opacity: 0.8;
    outline: none;
}

.check-input:checked:hover + .check-box {
    opacity: 1; 
    outline: none;   
}
.check-input:checked:focus + .check-box {
    outline: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 1px;
}
.check-input:disabled + .check-box,
.check-input:checked:disabled + .check-box {
    opacity: 0.5; 
    outline: none;   
}

/*Кнопка применить*/

.filter-button{
    height: 37px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    background-color:#a6b8ae;
    -webkit-box-shadow:inset 0px 0px 0px 2px #fff;
            box-shadow:inset 0px 0px 0px 2px #fff;
    padding: 7px 30px;
    border-radius: 17px;
    border: none;
    -ms-flex-item-align: end;
        align-self: flex-end;
    cursor: pointer;
}
.filter-button:hover {
    color: #323232;
    background-color: #ffffff;
    border: none;
}
.filter-button:active {
    -webkit-box-shadow: inset 0 2px 1px #0f0d0d;
            box-shadow: inset 0 2px 1px #0f0d0d;
    background-color: #ededed;
    border: none;
}

/*Пагинация*/

.pagination {
    text-align: right;
    margin-bottom: 30px;
    margin-top: 45px;

}
.pagination-list li {
    display: inline-block;
    list-style: none;
    text-align: right;
    margin-right: auto;
    
}
.pagination-item a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    padding: 3px 8px;
}
.pagination-active a {
    background-color: #ffff;
    border-radius: 50%;
    color: #323232;
    padding: 3px 8px;
}
.pagination-item a:hover, 
.pagination-item a:focus {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}
.prev-page svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    
}

 
